<div th:fragment="navigation">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/digital-account/web">Digital account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pix/web">Pix</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/credit-card/web">Credit card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/debit-card/web">Debit card</a>
      </li>
    </ul>
</div>